# Ignore the followings directories or files:

bin
vendor
tmp

# Editor directories and files
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json

# ignore sonar scanner files
**/.scannerwork

# ignore windows Thumbs database
**/Thumbs.db
